* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

/*******************************************/
/* REUSEABLE STYLES*/
/*******************************************/
.btn {
  height: 45px;
  font-size: 16px;
  border-radius: 50px;
  border: none;
}

/*******************************************/
/* HERO SECTION */
/*******************************************/

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/hero.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  padding: 25px 0 0 70px;
}
.logo {
  width: 100px;
  height: auto;
}
.logo img {
  width: 100%;
  height: auto;
}
nav {
  display: flex;
  justify-content: flex-start;
  /*  position: sticky;
  top: 0; */
}

.fa-bars {
  color: white;
  font-size: 30px;
  position: fixed;
  top: 35px;
  right: 100px;
  display: none;
}
.navigation {
  display: flex;
  list-style: none;
  padding-left: 350px;
  margin-top: 50px;
}
.navigation .food:link {
  text-decoration: none;
  padding-bottom: 7px;
}
.navigation .food:hover {
  border-bottom: 2px solid #e67e22;
}
.navigation .food {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
}
.navigation .nav-list {
  margin-right: 35px;
}
.hero-text {
  color: white;
  font-size: 47px;
  text-transform: uppercase;
  list-style: none;
  padding-top: 75px;
  padding-bottom: 20px;
  font-weight: 300;
}
.hungry-btn {
  color: white;
  background-color: #e67e22;
  width: 150px;
  margin-right: 7px;
}
.hungry-btn:hover {
  background-color: #d1711e;
  transition: background-color 0.2s ease-in;
}
.show-me-more-btn {
  color: #e67e22;
  background: none;
  border-radius: 50px;
  border: 1.5px solid #e67e22;
  width: 190px;
}
.show-me-more-btn:hover {
  color: white;
  background-color: #d1711e;
  transition: background-color 0.2s ease-in;
}

/*******************************************/
/* FEATURE SECTION */
/*******************************************/
.feature-section {
  background-color: white;
  margin-top: 100px;
  font-weight: 300;
}
.ft-header {
  text-align: center;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 35px;
}
.line {
  border-bottom: 2px solid #e67e22;
  width: 100px;
  margin-left: 530px;
}
.feature-text {
  margin-top: 20px;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
}

.feature-container {
  margin-top: 100px;
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 100px;
}
.container-1 {
  width: 300px;
  padding: 20px;
  font-size: 18px;
}
.container-2 {
  width: 300px;
  padding: 20px;
}
.container-3 {
  width: 300px;
  padding: 20px;
}
.container-4 {
  width: 300px;
  padding: 20px;
}

i {
  font-size: 50px;
  color: #e67e22;
  width: 100px;
  margin-bottom: 20px;
}
.icon-head {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 22px;
}
.icon-para {
  font-size: 18px;
}
/*******************************************/
/* MEAL SECTION */
/*******************************************/
.meal-img-container {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.first-meal {
  display: flex;
  list-style: none;
}
.last-meal {
  display: flex;
  list-style: none;
}
.meal-image {
  width: 400px;
  height: auto;
  overflow: hidden;
  background-color: #000;
}

.meal-image img {
  width: 100%;
  height: 100%;
  transform: scale(1.05);
  opacity: 0.7;
}
.meal-image img:hover {
  transform: scale(1.1);
  opacity: 1;
  transition: opacity 0.4s ease-in, transform 0.4s ease-in;
}
/*******************************************/
/* APPLICATION SECTION */
/*******************************************/
.app {
  background-color: #f4f4f4;
}
.app-head {
  text-align: center;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 35px;
}
.app-container {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f4f4f4;
}
.app-line {
  margin-left: 520px;
  border-bottom: 2px solid #e67e22;
  width: 100px;
  font-weight: 300;
  margin-bottom: 50px;
}
.app-container-2 {
  display: flex;
  justify-content: center;
}
.app-img-container {
  width: 200px;
  margin-left: 300px;
  margin-right: 80px;
}
.app-img-container img {
  width: 100%;
  animation: iphone 0.8s ease-in;
}
@keyframes iphone {
  0% {
    transform: translateY(500px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.app-text-container {
  display: flex;
  margin-top: 50px;
}
.app-list {
  list-style: none;
  font-size: 25px;
  color: #e67e22;
}
.app-text {
  list-style: none;
  font-size: 20px;
  font-weight: 300;
}
.one {
  margin-right: 20px;
  margin-bottom: 40px;

  border: 2px solid #e67e22;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
}
.first-text {
  width: 400px;
  margin-bottom: 40px;
}
.two {
  margin-right: 20px;
  margin-bottom: 35px;
  border: 2px solid #e67e22;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
}
.second-text {
  width: 450px;
  margin-bottom: 40px;
}
.three {
  margin-right: 20px;
  border: 2px solid #e67e22;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
}
.thrid-text {
  width: 450px;
}
.app-store {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
  list-style: none;
  margin-top: -50px;
}
.apple-store {
  width: 190px;
  margin-left: 10px;
}
.apple {
  width: 100%;
}
/*******************************************/
/* CITIES SECTION */
/*******************************************/
.city-container {
  margin-top: 100px;
  margin-bottom: 100px;
}
.city-head {
  text-align: center;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 40px;
}
.city-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-1 {
  margin-right: 20px;
}
.content-2 {
  margin-right: 20px;
}
.content-3 {
  margin-right: 20px;
}

.city-image {
  width: 250px;
  margin-bottom: 20px;
}
.img-city {
  width: 100%;
}
.city-name {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 23px;
}
.contact {
  list-style: none;
  font-weight: 300;
  font-size: 20px;
}
.contact i {
  font-size: 20px;
  margin: 0 15px 15px 0;
  width: 20px;
}
.city-text .fa-twitter {
  color: #e67e22;
}
.fa-brands:hover {
  color: blue;
}
.contact .mail {
  color: #e67e22;
}
/*******************************************/
/* CUSTOMER SECTION */
/*******************************************/
.customer {
  background: linear-gradient(rgba(0, 0, 0, 0.749), rgba(0, 0, 0, 0.749)),
    url("./img/back-customers.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  background-repeat: no-repeat;
  padding: 50px 0 50px 0;
  color: white;
  font-weight: 300;
  font-size: 20px;
  font-style: italic;
}
.customer-head {
  text-align: center;
  color: white;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 38px;
}
.customer-comment {
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer-1 {
  margin-right: 20px;
}
.customer-2 {
  margin-right: 20px;
}
.customer-text {
  width: 350px;
  margin-bottom: 20px;
}
.customer-1-head {
  font-size: 40px;
}
.profile {
  display: flex;
}
.profile-img {
  width: 40px;
  height: 40px;
  padding-right: 10px;
}
.man {
  width: 100%;
  border-radius: 50%;
}
/*******************************************/
/* SIGN-UP SECTION */
/*******************************************/
.sign-up {
  background-color: #f4f4f4;
  padding: 100px 40px 100px 40px;
}
.sign-up-head {
  text-align: center;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 38px;
}
.sign-up .app-line {
  margin-left: 490px;
}
.sign-up-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up-content-head {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.sign-up-content-1 {
  background-color: white;
  width: 300px;
  padding: 15px;
  margin-right: 40px;
}
.sign-up-content-2 {
  background-color: white;
  width: 300px;
  padding: 15px;
  margin-right: 40px;
}
.sign-up-content-3 {
  background-color: white;
  width: 300px;
  padding: 15px;
}

.content-price {
  margin-bottom: 15px;
}
.price {
  font-size: 50px;
  font-weight: 300;
  color: #e67e22;
}
.price-month {
  color: #e67e22;
}
.content-text {
  margin-bottom: 10px;
}
.top {
  margin-bottom: 20px;
}
.info {
  list-style: none;
}
.info-iteam {
  margin-bottom: 15px;
}
.tick {
  color: #e67e22;
  font-weight: 600;
  margin-right: 20px;
}
.down {
  margin-bottom: 10px;
}
.sign-now {
  background-color: #e67e22;
  height: 45px;
  font-size: 16px;
  border-radius: 50px;
  border: none;
  width: 150px;
  margin-left: 50px;
  color: white;
}
.sign-in {
  height: 45px;
  font-size: 16px;
  border-radius: 50px;
  border: none;
  width: 150px;
  margin-left: 50px;
  border: 1.5px solid #e67e22;
  background-color: white;
}
.sign-in:hover {
  color: white;
  background-color: #d1711e;
  transition: background-color 0.2s ease-in;
}
/*******************************************/
/* CONTACT-US SECTION */
/*******************************************/
.contact-us {
  margin: 100px auto;
}
.contact-us-head {
  text-align: center;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 38px;
}
.list-container {
  display: flex;
  justify-content: center;
}
.form-list {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 600px;
  gap: 20px;
}
.label-list {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  width: 100%;
}
.label-list-3 {
  gap: 0;
}
.checkbox {
  margin-right: 10px;
}
.other-list {
  gap: 50px;
}
.input-list {
  width: 60%;
}
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 5px;
}
input[type="submit"] {
  width: 120px;
  background-color: #e67e22;
  font-size: 16px;
  border-radius: 50px;
  border: none;
  /* margin-left: 30px; */
  height: 50px;
  color: white;
  text-align: center;
}
input[type="submit"]:hover {
  background-color: #d35400;
}
/*******************************************/
/* FOOTTER SECTION */
/*******************************************/
footer {
  background-color: #333333;
  color: #747474;
  padding: 50px;
}
.footer-nav-list {
  display: flex;
  list-style: none;
  margin-bottom: 40px;
}

.footer-list {
  display: flex;
  list-style: none;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-iteam {
  margin-right: 20px;
}
.tools {
  color: #747474;
  text-decoration: none;
}
.tools:hover {
  color: white;
}
.iteam-2-tool .fa-facebook,
.fa-twitter,
.fa-google-plus-g,
.fa-square-instagram {
  color: #747474;
  font-size: 20px;
  margin-right: 25px;
  width: 20px;
}
.fa-square-instagram {
  margin: 0;
}
.fa-facebook:hover {
  color: #3b5998;
}
.fa-brands:hover .fa-twitter:hover {
  color: #00aced;
}
.fa-google-plus-g:hover {
  color: #dd4b39;
}
.fa-square-instagram:hover {
  color: #517fa4;
}
.footer-text {
  text-align: center;
}
/* media quary */
@media screen and (max-width: 768px) {
  body {
    width: 768px;
  }
  /* HERO SESSION */
  .hero-section {
    padding: 30px;
    width: 768px;
  }
  .navigation {
    display: none;
  }
  .fa-bars {
    display: flex;
    right: -10px;
  }
  .hero-text {
    font-size: 30px;
  }
  .hungry-btn {
    width: 150px;
    font-size: 16px;
  }
  .show-me-more-btn {
    width: 150px;
    font-size: 16px;
  }
  /* FEATURE SECTION*/
  .feature-section {
    width: 768px;
    padding: 0 30px 0 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .ft-header {
    font-size: 25px;
  }
  .line {
    margin-left: 315px;
    margin-bottom: 30px;
  }
  .feature-text {
    font-size: 16px;
    text-align: start;
  }
  .feature-container {
    margin-top: 30px;
    flex-direction: column;
    /* justify-content: flex-start; */
    padding: 0;
  }
  .container-1 {
    width: 100%;
  }
  .container-2 {
    width: 100%;
  }
  .container-3 {
    width: 100%;
  }
  .container-4 {
    width: 100%;
  }
  .icon-head {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .icon-para {
    font-size: 16px;
  }
  /* Meal section */
  .meal-section {
    width: 768px;
  }
  .app {
    width: 768px;
  }
  .app-container {
    padding: 30px 0 0 30px;
  }
  .app-head {
    font-size: 25px;
  }
  .app-line {
    margin: 0 auto 50px auto;
  }
  .app-container-2 {
    flex-direction: column;
  }
  .app-img-container {
    width: 300px;
    margin: 0 auto;
  }
  .app-store {
    margin: 0;
    justify-content: flex-start;
    padding-bottom: 50px;
  }
  .app-list {
    font-size: 16px;
  }
  .app-text {
    font-size: 16px;
  }
  .one,
  .two,
  .three {
    width: 40px;
    height: 40px;
    padding-top: 5px;
    margin-right: 10px;
    margin-bottom: 17px;
  }
  .first-text,
  .second-text,
  .thrid-text {
    width: 100%;
  }
  .city-container {
    margin: 40px;
  }
  .city-head {
    font-size: 25px;
  }
  .city-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .city-image {
    width: 680px;
  }
  .city-name {
    font-size: 18px;
  }
  .contact {
    font-size: 14px;
  }
  .contact i {
    width: 14px;
    font-size: 14px;
  }
  .customer {
    width: 768px;
    padding: 40px 30px;
  }
  .customer-head {
    font-size: 25px;
  }
  .customer-comment {
    font-size: 15px;
    flex-direction: column;
    align-items: flex-start;
  }
  .customer-text {
    width: 100%;
    padding-left: 17px;
  }
  .sign-up-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .sign-up-head {
    font-size: 25px;
  }
  .sign-up .app-line {
    margin: 0 auto 50px auto;
  }
  .sign-up-content-1,
  .sign-up-content-2,
  .sign-up-content-3 {
    width: 720px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
  }
  .sign-now,
  .sign-in {
    align-self: center;
  }
  .contact-us {
    width: 768px;
    align-items: center;
    padding: 0 50px;
  }
  .contact-us-head {
    font-size: 25px;
  }
  .label-list {
    flex-direction: column;
  }
  .label-list div {
    margin-bottom: 20px;
  }
  .other-list {
    gap: 10px;
  }
  .input-list {
    width: 100%;
  }
  input[type="text"] {
    height: 35px;
  }
  input[type="submit"] {
    margin-right: 500px;
  }
  .footer-nav {
    flex-direction: column;
  }
  .footer-nav-list {
    font-size: 13px;
    align-self: flex-start;
  }
  .footer-list {
    align-self: flex-end;
  }
  .footer-text {
    font-size: 13px;
  }
  .fa-facebook {
    font-size: 20px;
    margin-right: 25px;
    width: 20px;
    color: #747474;
  }
}
@media screen and (max-width: 375px) {
  .hero-section {
    padding: 30px 30px 320px 30px;
    width: 100%;
  }
  .logo {
    width: 180px;
  }
  .fa-bars {
    font-size: 50px;
    right: 70px;
    top: 50px;
  }
  .hero-text {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .hungry-btn {
    width: 250px;
    height: 70px;
    font-size: 25px;
  }
  .show-me-more-btn {
    width: 250px;
    height: 70px;
    font-size: 25px;
  }
  .ft-header {
    font-size: 50px;
    font-weight: 300;
  }
  .feature-text {
    font-size: 30px;
  }
  .icon-head {
    font-size: 35px;
  }
  .app-head,
  .city-head,
  .sign-up-head,
  .customer-head,
  .contact-us-head {
    font-size: 50px;
    text-align: center;
    font-weight: 300;
  }
  .icon-para {
    font-size: 30px;
  }
  .app-img-container {
    width: 250px;
  }
  .app-text-container {
    margin: 50px auto 0;
  }
  .app-list {
    font-size: 35px;
  }
  .one {
    width: 70px;
    height: 70px;
    padding-top: 15px;
    margin-right: 20px;
    margin-bottom: 47px;
  }
  .two,
  .three {
    width: 70px;
    height: 70px;
    padding-top: 15px;
    margin-right: 20px;
    margin-bottom: 47px;
  }
  .app-text {
    font-size: 30px;
  }
  .app-store {
    flex-direction: column;
    align-items: flex-start;
  }
  .apple-store,
  .google-play {
    width: 300px;
    margin: 0;
  }
  .city-content {
    justify-content: center;
    align-items: center;
  }
  .city-image {
    width: 600px;
  }
  .city-name {
    font-size: 35px;
  }
  .contact {
    font-size: 30px;
  }
  .contact i {
    font-size: 30px;
    width: 40px;
  }
  .customer-comment {
    margin: 0 auto;
  }
  .customer-1-head {
    font-size: 100px;
  }
  .customer-text {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .profile-img {
    width: 100px;
    margin-bottom: 50px;
    padding-right: 20px;
  }
  .profile-name {
    font-size: 30px;
    margin-top: 20px;
  }
  .sign-up-content-1,
  .sign-up-content-2,
  .sign-up-content-3 {
    width: 100%;
  }
  .sign-up-content-head {
    font-size: 35px;
  }
  .price {
    font-size: 80px;
  }
  .price-month {
    font-size: 30px;
  }
  .content-text {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .info {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .sign-now,
  .sign-in {
    font-size: 30px;
    width: 250px;
    height: 80px;
    margin: 20px auto;
  }
  .label-list {
    font-size: 30px;
  }
  input[type="text"],
  input[type="email"],
  select {
    font-size: 30px;
    height: 60px;
  }
  textarea {
    height: 150px;
    margin-bottom: 50px;
  }
  textarea::placeholder {
    font-size: 30px;
  }
  input[type="submit"] {
    height: 80px;
    width: 200px;
    font-size: 30px;
    font-weight: 300;
    margin-left: 50px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-nav-list {
    font-size: 25px;
    align-items: center;
    margin: 0 auto 20px;
  }
  .footer-list {
    font-size: 35px;
    justify-content: center;
    align-self: center;
  }
  input[type="checkbox"] {
    width: 30px;
    height: 30px;
  }
  footer .fa-brands {
    font-size: 30px;
  }
  .footer-text {
    font-size: 25px;
  }
}
